extends nav_non_log

block content
	script(src = '/js/scripts/logout_script.js')
	#header
		br/
		#header-text Data Lake Management System (DLMS)
		br/
	#page
		section
		br/
		br/
		br/
		#center
			+a-btn("/login") Log In
			&nbsp;
			+a-btn("/create") Create Account
		br/
		br/