<!DOCTYPE html>
<html lang="en" class="no-js"> 
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>DataLake Management System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="CIS 550 Group Project" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
	
    </head>
    <body>
    <!--     <script src = "http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src = "scripts/login_script.js"></script> -->
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
             
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Datalake Management System </h1>
				<nav class="codrops-demos">
					<strong>CIS550 Group Project</strong>
				</nav>
            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <div id="wrapper">
                
                                              
                        <div id="login" class="animate form">
                            <form  action="/login" method="post"> 
                                <h1>Log in</h1> 
                                 <% if (message == "welcome") { %>
                                            <p>Welcome! Pleas Log in</p>
                                 <% } %>
                                 <% if (message == "username does not exist") { %>
                                     <p class="error_message">User does not exist. Please Sign Up!</p>
                                 <% } %>
                                
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Your username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                                </p>
                                  <% if (message == "wrong password") { %>
                                      <p class="error_message">Wrong Password. Please try again!</p>
                                  <% } %>
                                <p class="login button"> 
                                    <!-- <input type="submit" id = "login_button" value="Hi" />  -->
                                    <button type="submit" id="loginbutton">LOGIN</button>
                    
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="/signup" class="to_register">Create New Account</a>
								</p>
                            </form>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>