<!DOCTYPE html>
<html xmlns=lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>DataLake</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />
</head>
<body > 
   
        <div class="navbar navbar-inverse navbar-fixed-top " >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ><strong style=""></strong> D<i class="fa fa-globe"></i>taLake <small >System</small></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right set-links">
                    <li><a href="/searchPage" class="active-menu-item">HOME</a></li>
                     <li><a href="/login">LOGIN/SIGNUP</a></li>
                     <li><a href="/login">Welcome,<%= name %><login></li>
                </ul>
            </div>
        </div>
    </div>
    <!--MENU SECTION END-->
    <section id="home-sec">
        <div class="overlay text-center">
            <h1 >DataLake Management System</h1>
            <!-- <hr class="hr-set"/> -->

            <p>Manage Your Files and Search For Files in Our DataLake System </p>
        </div>
    </section>
    <!--HOME SECTION END-->
    <section id="search-domain" >
        <div class="container">
            <form action="/searchWord" method="get"><div class="row">
                <div class="col-md-8">
                    <input type="text" id="word" name="word" class="form-control input-cls"    />
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-info btn-lg btn-set"  value="SEARCH FILE" />
                </div>
            </div></form>
        </div>
    </section>
    <section id="upload-domain" >
       <div class="container">
         <p><strong>Upload your own file</strong></p>
        
       </div = class="row">
        <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="col-md-7">
            <input type="file" id="file" name="file" class="btn btn-info btn-lg btn-set"/>
        </div>
         <div class="col-md-2">
            <input type="radio" name="permission" value="public"> Public<br>
        	<input type="radio" name="permission" value="private"> Private<br>
        </div>
            User name <input type="text" name="FirstName"><br>
        <div class ="col-md-3">
            <input type="submit" class="btn btn-info btn-lg btn-set" name ="submit" value="Send"/>
        </div>
        </form>
         <% if (message == "success") { %>
                <p>Uplode successful</p>
         <% } %>
        </div>
    </section>
     <!--SEARCH SECTION END-->
    
	   
    <section id="footer-sec" >
        <div class="container">
            <div class="row">
<div class="col-md-4">
   <h4>ABOUT US</h4>
    <p style="padding-right:50px;">
      Final Project for CIS550
      <h5>Group Member:</h5>
        <h5>Marvin Liu</h5> 
        <h5>Yimeng XU</h5> 
        <h5>Sujay Suresh</h5>
        <h5>Shravan Chopra</h5>
      Department of CIS,ESE
      University of Pennsylvania 
     <a href="about.html">more..</a>
    </p>
</div>
                <div class="col-md-4">
       <h4>Contact Us </h4>
                    <h5>3600 Chestnut St.</h5>
                     <h5>Sansom Place East,</h5>
                    <h5>Philadelphia PA,USA</h5>
                    <br />
                    <h5><strong>Email:</strong> xuyimeng@seas.upenn.edu</h5>
                      <h5><strong>Call:</strong> +1-267-356-0844</h5>
                   
</div>
                
               
            </div>
               
        </div>
    </section>
     <!--FOOTER SECTION END-->
    <div class="copy-txt">
         <div class="container">
        <div class="row">
<div class="col-md-12 set-foot" >
    &copy 2014 your domain | All rights reserved | Design by : <a href="http://www.binarytheme.com" target="_blank" style="color:#7C7C7C;">binarytheme.com</a> 
</div>
            </div>
                   </div>
    </div>
     <!-- COPY TEXT SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="assets/js/bootstrap.js"></script>
    <!-- CUSTOM SCRIPTS  -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
